<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="technology.innovate.haziremployee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="technology.innovate.haziremployee.BaseApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="technology.innovate.haziremployee.ui.leavebalance.LeaveBalance"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.timecreaditrequest.Timecreditapply"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.timecreaditrequest.timecreditlistdetail.Timecreditlistdetail"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.timecreaditrequest.Timecreditlist"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.payslip.Payslipwebview"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.payslip.PayslipActivity"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.interviewround.DetailInterviewlist"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.manager.Managerjobdetails"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.interviewround.Interviewroundlist"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.manager.Addnewjob.AddNewJobPost"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.manager.Managerjobpostlist"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.applyjobform.Applyjobform"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.jobpostdetail.Jobpostdetail"
            android:exported="false" />
        <activity
            android:name="technology.innovate.haziremployee.ui.jobpost.Jobpost"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.forgot_password.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.forgot_password.VerifyOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.forgot_password.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.change_password.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.personal_info.PersonalInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.attendance.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAF8myPEYufyG3mDQzhiXqqG0VRPwyHL2Q" />

        <activity
            android:name="technology.innovate.haziremployee.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.splash.SplashOrganisationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="technology.innovate.haziremployee.ui.splash_gif.SplashGifActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="technology.innovate.haziremployee.ui.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name="technology.innovate.haziremployee.notification.FirebaseNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlytics}" />
    </application>

</manifest>